@model GoolgleZonas.Models.Zona

@{
    ViewBag.Title = "Eliminar";
}

<hr />

<h3>Deseas Eliminar Esta Zona?</h3>
<div>
    <hr />
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreZona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreZona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Radio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Radio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHoraCreado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHoraCreado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodUsuario)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Atrás", "Index")
        </div>
    }
</div>

