@model IEnumerable<GoolgleZonas.Models.Zona>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreZona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Radio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHoraCreado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreZona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Radio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaHoraCreado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodZona }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodZona }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodZona })
        </td>
    </tr>
}

</table>
